.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

body{
    height: 100vh;
    background-image: linear-gradient(rgb(255,255,239),rgb(100,39,239));
}


.container{
    max-width: 955px;
    background-color: black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    margin-bottom: 33px;
    overflow-y: auto;
    overflow: scroll;
}

.message{
      background-color: grey;
      width: 24%;
      padding: 10px;
      margin: 17px 12px;
      border: 2px solid black;
      border-radius: 10px;
}

.left{
     float: left;
     clear: both;
}

.right{
      float: right;
      clear: both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985;
    width: 100%;

}

#messageInp{
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}

.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}